* {
    margin: 0;
    padding: 0;
}

body {
    flex-direction: column;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: white;
}

.video-background {
    width: 100%;
    background: black;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

#control {
    display:flex;
    flex: 0 5 100%;
    flex-direction: column;
}
#controls {
    display: flex;
    justify-content: space-around;
    padding: 6px 0;
    flex: 1 0 24px;
    background: hsla(220,50%,70%,1);
}
#controls > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 100%;
}
#channels {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.channel {
    display: flex;
    height: calc(15vw - 6px);
    max-height: 75px;
    overflow: hidden;
    position: relative;
}
.channel:nth-child(odd) {
    background-color: hsla(0,0%,92%,1);
}
.channel:nth-child(even) {
    background-color: hsla(0,0%,100%,1);
}
.logo-wrapper {
    flex: 0 1 15%;
    margin-right: 6px;
    max-width: 75px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.channel-logo {
    width: 100%;
    display: block;
}
.channel-content {
    flex: 1 0 calc(85% - 10px);
    padding: 5px;
}
.channel .status-icon {
    position: absolute;
    right: .25em;
    top: .5em;
}
#buttons,
#presets {
    display: flex;
    justify-content: space-around;
    background: white;
}
#presets {
    padding: 3px 0;
    background-color: transparent;
    border: none;
}
.preset {
    border: 1px solid grey;
    padding: 2px;
    font-size: 10px;
}

.event-shorttext {
    font-style: italic;
}

.event-description {
    max-height: 0;
    white-space: pre-wrap;
    overflow: hidden;
    transition: max-height 1500ms ease-out;
}

.active .event-description {
    max-height: 0;
}

.channel.active,
.active {
    background-color: #dce3ff;
}

button {
    min-height: 30px;
    flex: 0 1 45%;
}

@media screen and (max-width: 640px) {

    .video-size {
        box-sizing: border-box;
        padding-top: calc(100% / 1.777777777);
        height: auto;
    }
    .channel-content {
        font-size: 12px;
    }
}

@media screen and (orientation: landscape) {

    body {
        justify-content: center;
        align-items: center;
        background: black;
    }

    video {
        position: absolute;
        width: 100%;
        height: 100% !important;
        max-width: none;
        max-height: none;
    }

    #control {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 80vw;
        height: 80vh;
        border-radius: 3px;
    }
    #controls {
        order: 1;
        background: hsla(220,50%,70%,.5);
    }

    .channel:nth-child(odd) {
        background-color: hsla(0,0%,92%,.5);
    }
    .channel:nth-child(even) {
        background-color: hsla(0,0%,100%,.5);
    }
    .channel.active {
        background-color: hsla(228, 100%, 80%, .5);
    }
}
