* {
    margin: 0;
    padding: 0;
}

body {
    flex-direction: column;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: white;
}

.video-size {
    width: 100%;
    height: 50%;
    background: black;
    position: relative;
}
.video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
video {
    max-width: 100%;
    max-height: 100%;
}

#channels {
    overflow: auto;
    flex: 0 5 100%;
    -webkit-overflow-scrolling: touch;
}

.channel {
    display: flex;
    height: calc(15vw - 6px);
    max-height: 75px;
    overflow: hidden;
}
.channel:nth-child(odd) {
    background-color: hsla(0,0%,92%,1);
}
.channel:nth-child(even) {
    background-color: hsla(0,0%,100%,1);
}
.logo-wrapper {
    flex: 0 1 15%;
    margin-right: 6px;
    max-width: 75px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.channel-logo {
    width: 100%;
    display: block;
}
.channel-content {
    flex: 1 0 calc(85% - 10px);
    padding: 5px;
}

#buttons,
#presets {
    display: flex;
    justify-content: space-around;
    background: white;
}
#presets {
    padding: 3px 0;
}
.preset {
    border: 1px solid grey;
    padding: 2px;
    font-size: 10px;
}

.event-shorttext {
    font-style: italic;
}

.event-description {
    max-height: 0;
    white-space: pre-wrap;
    overflow: hidden;
    transition: max-height 1500ms ease-out;
}

.active .event-description {
    max-height: 0;
}

.channel.active,
.active {
    background-color: #dce3ff;
}

button {
    min-height: 30px;
    flex: 0 1 45%;
}

@media screen and (max-width: 640px) {

    .video-size {
        box-sizing: border-box;
        padding-top: calc(100% / 1.777777777);
        height: auto;
    }
    .channel-content {
        font-size: 12px;
    }
}

@media screen and (max-width: 1280px) and (orientation: landscape) {

    body {
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        background: black;
        position: relative;
    }


    .video-size,
    .video-wrapper {
        position: static;
    }

    video {
        position: fixed;
        width: 100vw;
        height: 100vh;
        max-width: none;
        max-height: none;
    }

    #channels {
        position: absolute;
        background: rgba(255, 255, 255, 0.52);
        width: 80vw;
        height: 80vh;
        border-radius: 3px;
    }

    .channel:nth-child(odd) {
        background-color: hsla(0,0%,92%,.5);
    }
    .channel:nth-child(even) {
        background-color: hsla(0,0%,100%,.5);
    }
    .channel.active {
        background-color: hsla(228, 100%, 80%, .5);
    }

    #buttons,
    #presets {
        display: none;
    }
}
